# Time series with pandas

Source: https://www.kdnuggets.com/2020/09/introduction-time-series-analysis-python.html
Data from: https://fred.stlouisfed.org/series/UMTMVS

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('UMTMVS.csv')
df.head()

         DATE    UMTMVS
0  1992-01-01  209438.0
1  1992-02-01  232679.0
2  1992-03-01  249673.0
3  1992-04-01  239666.0
4  1992-05-01  243231.0

In [4]:
df = pd.read_csv('UMTMVS.csv', index_col='DATE')
df.head()

              UMTMVS
DATE
1992-01-01  209438.0
1992-02-01  232679.0
1992-03-01  249673.0
1992-04-01  239666.0
1992-05-01  243231.0

In [5]:
df.index

Index(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01', '1992-05-01',
       '1992-06-01', '1992-07-01', '1992-08-01', '1992-09-01', '1992-10-01',
       ...
       '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01', '2020-03-01',
       '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01'],
      dtype='object', name='DATE', length=344)

In [6]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01',
               '1992-05-01', '1992-06-01', '1992-07-01', '1992-08-01',
               '1992-09-01', '1992-10-01',
               ...
               '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01',
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01'],
              dtype='datetime64[ns]', name='DATE', length=344, freq=None)

In [7]:
df = pd.read_csv('UMTMVS.csv', index_col= 'DATE', parse_dates=True)
df.index

DatetimeIndex(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01',
               '1992-05-01', '1992-06-01', '1992-07-01', '1992-08-01',
               '1992-09-01', '1992-10-01',
               ...
               '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01',
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01'],
              dtype='datetime64[ns]', name='DATE', length=344, freq=None)

In [8]:
df.loc['2000-01-01': '2015-01-01']

              UMTMVS
DATE
2000-01-01  314656.0
2000-02-01  342744.0
2000-03-01  374859.0
2000-04-01  344093.0
2000-05-01  356402.0
...              ...
2014-09-01  512979.0
2014-10-01  505469.0
2014-11-01  458120.0
2014-12-01  472163.0
2015-01-01  423521.0

[181 rows x 1 columns]

In [11]:
def sum_of_year(year_val):
    return year_val.sum()

In [12]:
df.resample(rule='AS').apply(year_val)

NameError: name 'year_val' is not defined